.nav a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  src: local('Comfortaa Light'), local('Comfortaa-Light'), url(http://fonts.gstatic.com/s/comfortaa/v7/r_tUZNl0G8xCoOmp_JkSCqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa'), local('Comfortaa-Regular'), url(http://fonts.gstatic.com/s/comfortaa/v7/qLBu5CQmSMt1H43OiWJ77bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  src: local('Comfortaa Bold'), local('Comfortaa-Bold'), url(http://fonts.gstatic.com/s/comfortaa/v7/fND5XPYKrF2tQDwwfWZJI6RDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  src: local('Grand Hotel'), local('GrandHotel-Regular'), url(http://fonts.gstatic.com/s/grandhotel/v4/NrGQkrs9rbHm5EYx0Eil0rrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://upload.wikimedia.org/wikipedia/commons/2/2c/Bird_in_North_Pond%2C_Chicago.jpg');
  height: 500px;
  background-size: max-width max-height;
  background-repeat: no-repeat;
  background-size: cover;
}

.app .jumbotron {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  color: #fff;
  position: relative;
  top:100px;
}

.h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Grand Hotel';
  font-weight: bold;
}

.p {
  font-family: 'Comfortaa', sans-serif;

}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

h3 {
  font-family: 'Comfortaa';
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.nav-center {
    margin:0;
    float:none;
}

.navbar {
    background-color: transparent;
    background: transparent;
  }
  
  .navbar li { color: #000 }
